canvas {
	border: 1px solid black;
}

.container{
	margin:auto;
	width:100%;
	display:inline-block;
}

.drawing{
	margin:5px;
	width:60%;
	padding:5px;
	float:left;
	overflow:visible;
}

.ruleConfig {
	margin:10px;
	width:35%;
	overflow:visible;
	float:left;
}


input {
	font-family:"Ubuntu Mono", "Fantasque Sans Mono", monaco, monospace;
	font-size:13;
}

.rules {
	margin:10px;
	border: 1px solid black;
	border-collapse: collapse;
	font-family:"Ubuntu Mono", "Fantasque Sans Mono", monaco, monospace;
}

.newRule {
	margin:10px;
	font-family:"Ubuntu Mono", "Fantasque Sans Mono", monaco, monospace;
}

#newRuleBefore {
	width:3em;
	font-family:"Ubuntu Mono", "Fantasque Sans Mono", monaco, monospace;
}

#newRuleBefore::after{
	content:" →";
}

#newRuleAfter {
	width:11em;
	font-family:"Ubuntu Mono", "Fantasque Sans Mono", monaco, monospace;
}

#iter{
	width:4em;
	font-size:13;
}

.rules th {
	width:50px;
	border: 1px solid black;
	border-collapse: collapse;
	text-align:center;
}

.rules td{
	width:50px;
	border: 1px solid black;
	border-collapse: collapse;
	padding:3px;
	padding-left:3px;
	padding-right:3px;
}

.char {
	text-align:center;
}
.char::after{
	content:"  →";
}

.ruleAfter {
	width:max-content;
}

.del{
	-moz-user-select:none;
	-webkit-user-select:none;
}

.button {
	padding:1px;
	background-color:#aaa;
	text-align:center;
	border: 1px solid black;
	border-radius:3px;
	-moz-user-select:none;
	-webkit-user-select:none;
	width:3em;
}

.button:hover{
	background-color: #ccc;
	cursor:pointer;
	user-select:none;
}

.button:active{
	background-color: #555;
}
